<%= render "shared/navbar" %>
<div class="container pt-3">
  <h2><%= t("devise_session.registration.new.text1") %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: "input-session" } %>
    </div>

    <div class="form-inputs">
      <% f.input :role,
                  collection: User.roles.keys.map { |role| [role.titleize, role] },
                  include_blank: false %>
    </div>

    <div class="form-inputs">
      <%= f.input :name,
                  label: t("devise_session.registration.new.text2"),
                  required: true,
                  input_html: { autocomplete: t("devise_session.registration.new.text2"), class: "input-session" } %>
    </div>

    <div class="form-inputs">
      <%= f.input :last_name,
                  label: t("devise_session.registration.new.text3"),
                  required: true,
                  input_html: { autocomplete: t("devise_session.registration.new.text3"), class: "input-session" } %>
    </div>

    <div class="form-inputs">
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} #{t('devise_session.registration.new.text6')} " if @minimum_password_length),
                  hint_html: { class: "custom-hint" },
                  label: t("devise_session.registration.new.text4"),
                  input_html: { autocomplete: "new-password", class: "input-session" } %>
    </div>

    <div class="form-inputs">
      <%= f.input :password_confirmation,
                  required: true,
                  label: t("devise_session.registration.new.text5"),
                  input_html: { autocomplete: "new-password", class: "input-session" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t("devise_session.registration.new.text1"), class: "input-btn" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
