<%= render "shared/navbar"%>
  <div class="container">
    <% if current_user.role == "admin" %>
      <div class="index-links-containers">
        <div class="link-container">
          <a href="/individual_forms"><%= t('table.th') %></a>
        </div>
        <div class="link-container">
          <a href="/duo"><%= t('table.th2') %></a>
        </div>
        <div class="link-container">
          <a href="/trios"><%= t('table.th3') %></a>
        </div>
        <div class="link-container">
          <a href="/group_forms"><%= t('table.th4') %></a>
        </div>
      </div>
      <h1 style="text-align:center"><%= t('table.th') %></h1>
    <% else %>
      <h1 style="text-align:center"><%= t('individual_form_index.title_f') %><%= current_user.name.capitalize %> <%= current_user.last_name.capitalize %><%= t('individual_form_index.title_en') %></h1>
    <% end %>
    <div class="individual-forms">
      <% if current_user.role == "competitor" && current_user.individual_forms.present?%>
        <table class="table-form mx-auto">
          <caption style="color:white"></caption>
          <thead>
            <tr style="width:50px">
              <th><%= t('index_individuals.th.attributes') %></th>
                <% current_user.individual_forms.each_with_index do |form, index| %>
                  <th><%= t('index_individuals.th.individaul_form') %> <%= index + 1 %></th>
                <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= t('index_individuals.td.first_name') %></td>
              <% current_user.individual_forms.each do |form| %>
                <td><%= form.first_name.capitalize %></td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_individuals.td.last_name') %></td>
              <% current_user.individual_forms.each do |form| %>
                <td><%= form.last_name.capitalize %></td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_individuals.td.birthday') %></td>
              <% current_user.individual_forms.each do |form| %>
                <td>
                  <%= form.birth_date %><br>
                  <%=  calculate_age(form.birth_date) %>
                </td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_individuals.td.address') %></td>
              <% current_user.individual_forms.each do |form| %>
                <td><%= form.address %></td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_individuals.td.phone') %></td>
              <% current_user.individual_forms.each do |form| %>
                <td><%= form.phone %></td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_individuals.td.email') %></td>
              <% current_user.individual_forms.each do |form| %>
                <td><%= form.email %></td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_individuals.td.teacher') %></td>
              <% current_user.individual_forms.each do |form| %>
                <td><%= form.teacher_name %></td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_individuals.td.dance_school') %></td>
              <% current_user.individual_forms.each do |form| %>
                <td><%= form.dance_school %></td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_individuals.td.techer_phone') %></td>
              <% current_user.individual_forms.each do |form| %>
                <td><%= form.teacher_phone %></td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_individuals.td.email') %></td>
              <% current_user.individual_forms.each do |form| %>
                <td><%= form.teacher_email %></td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_individuals.td.category') %></td>
              <% current_user.individual_forms.each do |form| %>
                <td><%= form.category %></td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_individuals.td.style') %></td>
              <% current_user.individual_forms.each do |form| %>
                <td><%= form.style %></td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_individuals.td.level') %></td>
              <% current_user.individual_forms.each do |form| %>
                <td><%= form.level %></td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_individuals.td.profile_pic') %></td>
              <% current_user.individual_forms.each do |form| %>
                <% if form.photo.attached? %>
                  <td style="text-align:center"><%= cl_image_tag form.photo.key, height: 50, width: 40 %></td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
            </tr>
          </tbody>
        </table>
      <% elsif current_user.role == "admin" %>
        <div class="filter">
          <%= form_with url: individual_forms_path, method: :get, local: true do |form| %>
            <div>
              <%# Playing with the grid in bootstrap %>
              <div class="row">
                <div class="col-sm" style="margin-top:20px">
                  <h4>Filtrer par Catégorie</h4>
                  <div style="display: flex; justify-content: center">
                    <div style="margin-right: 30px;">
                      <%= form.check_box :category, { multiple: true }, "Loisir", nil %> Loisir
                    </div>
                    <div>
                      <%= form.check_box :category, { multiple: true }, "Pré-professionnelle", nil %> Pré-professionnelle
                    </div>
                  </div>
                </div>

                <div class="col-sm" style="margin-top:20px">
                  <h4>Filtrer par Style</h4>
                  <div style="display: flex; justify-content: center">
                    <div style="margin-right: 30px;">
                      <%= form.check_box :style, { multiple: true }, "Classique", nil %> Classique
                    </div>
                    <div style="margin-right: 30px;">
                      <%= form.check_box :style, { multiple: true }, "Modern’Jazz", nil %> Modern’Jazz
                    </div>
                    <div style="margin-right: 30px;">
                      <%= form.check_box :style, { multiple: true }, "Contemporain", nil %> Contemporain
                    </div>
                    <div>
                      <%= form.check_box :style, { multiple: true }, "Caractère", nil %> Caractère
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm" style="margin-top:20px">
                  <h4>Filtrer par Niveau</h4>
                  <%# 'Préparatoire', 'Elémentaire 1', 'Elémentaire 2', 'Elémentaire 2B', 'Moyen', 'Moyen 1', 'Moyen 1B', 'Moyen 2', 'Avancée', 'Supérieur', 'Formation' %>
                  <div style="display:grid; grid-template-columns: auto auto auto; justify-content: space-evenly">
                    <div style="text-align: left; padding-right:15px">
                      <div>
                        <%= form.check_box :level, { multiple: true }, "Préparatoire", nil %> Préparatoire
                      </div>
                      <div>
                        <%= form.check_box :level, { multiple: true }, "Elémentaire 1", nil %> Elémentaire 1
                      </div>
                      <div>
                        <%= form.check_box :level, { multiple: true }, "Elémentaire 2", nil %> Elémentaire 2
                      </div>
                      <div>
                        <%= form.check_box :level, { multiple: true }, "Elémentaire 2B", nil %> Elémentaire 2B
                      </div>
                    </div>
                    <div style="text-align: left; padding-right:15px">
                      <div>
                        <%= form.check_box :level, { multiple: true }, "Moyen", nil %> Moyen
                      </div>
                      <div>
                        <%= form.check_box :level, { multiple: true }, "Moyen 1", nil %> Moyen 1
                      </div>
                      <div>
                        <%= form.check_box :level, { multiple: true }, "Moyen 1B", nil %> Moyen 1B
                      </div>
                      <div>
                        <%= form.check_box :level, { multiple: true }, "Moyen 2", nil %> Moyen 2
                      </div>
                    </div>
                    <div style="text-align: left; padding-right:15px">
                      <div>
                        <%= form.check_box :level, { multiple: true }, "Avancée", nil %> Avancée
                      </div>
                      <div>
                        <%= form.check_box :level, { multiple: true }, "Supérieur", nil %> Supérieur
                      </div>
                      <div>
                        <%= form.check_box :level, { multiple: true }, "Formation", nil %> Formation
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Date Filters -->
                <div class="col-sm" style="margin-top:20px">
                  <h4>Filtrer par Date</h4>
                    <div>
                      <label for="start_date">À partir de:</label>
                      <%= form.date_field :start_date, value: params[:start_date] %>
                    </div>
                </div>
              </div>
            </div>
            <div>
              <%= form.submit "Filtrer" %>
            </div>
          <% end %>
        </div>
        <div style="style="width: 100%; overflow:scroll;">
          <table class="table-form mx-auto">
            <thead>
              <tr>
                <th><%= t("index_individuals.th.attributes") %></th>
                <% @individual_forms.each_with_index do |form, index| %>
                  <% matching_form = @results.find { |hash| hash[:id] == form.id } %>
                  <th><%= t('index_individuals.th.individual_form') %> <%= matching_form[:count] %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <tr>
              <tr>
                <td><%= t("index_individuals.td.profile_pic") %></td>
                <% @individual_forms.each do |form| %>
                  <% if form.photo.attached? %>
                    <td class="text-center"><%= cl_image_tag form.photo.key, width:"20px", fetch_format: "auto", page: 1 %></td>
                  <% else %>
                    <td>Pas de photo attaché</td>
                  <% end %>
                <% end %>
              </tr>
                <td><%= t("index_individuals.td.first_name") %></td>
                <% @individual_forms.each do |form| %>
                  <td><%= form.first_name %></td>
                <% end %>
              </tr>
              </tr>
                <td><%= t("index_individuals.td.last_name") %></td>
                <% @individual_forms.each do |form| %>
                  <td><%= form.last_name %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.birthday") %></td>
                <% @individual_forms.each do |form| %>
                  <td>
                    <%= form.birth_date %>
                  </td>
                <% end %>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.age_day_competition") %></td>
                <% @individual_forms.each do |form| %>
                  <td>
                    <%= calculate_age(form.birth_date) %>
                  </td>
                <% end %>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.address") %></td>
                <% @individual_forms.each do |form| %>
                  <td><%= form.address %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.phone") %></td>
                <% @individual_forms.each do |form| %>
                  <td><%= form.phone %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.email") %></td>
                <% @individual_forms.each do |form| %>
                  <td><%= form.email %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.teacher") %></td>
                <% @individual_forms.each do |form| %>
                  <td><%= form.teacher_name %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.dance_school") %></td>
                <% @individual_forms.each do |form| %>
                  <td><%= form.dance_school %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.teacher_phone") %></td>
                <% @individual_forms.each do |form| %>
                  <td><%= form.teacher_phone %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.teacher_email") %></td>
                <% @individual_forms.each do |form| %>
                  <td><%= form.teacher_email %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.category") %></td>
                <% @individual_forms.each do |form| %>
                  <td><%= form.category %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.style") %></td>
                <% @individual_forms.each do |form| %>
                  <td><%= form.style %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.level") %></td>
                <% @individual_forms.each do |form| %>
                  <td><%= form.level %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.file") %></td>
                <% @individual_forms.each do |form| %>
                  <td>
                    <% if form.file.attached? %>
                      <% key = form.file.key %>
                      <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } %>
                      <% if matching_file != nil %>
                        <% newkey =  matching_file["asset_id"] %>
                        <%= link_to "Download", "https://res-console.cloudinary.com/dsyp2wb4w/media_explorer_thumbnails/#{newkey}/download" %>
                        <% else %>
                        <p>Aucun fichier correspondant trouvé.</p>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.file1") %></td>
                <% @individual_forms.each do |form| %>
                  <td>
                    <% if form.id_card.attached? %>
                      <% key = form.id_card.key %>
                      <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } %>
                      <% if matching_file != nil %>
                        <% newkey =  matching_file["asset_id"] %>
                        <%= link_to "Download", "https://res-console.cloudinary.com/dsyp2wb4w/media_explorer_thumbnails/#{newkey}/download" %>
                        <% else %>
                        <p>Aucun fichier correspondant trouvé.</p>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
              <tr>
                  <td><%= t("index_individuals.td.created_at") %></td>
                <% @individual_forms.each do |form| %>
                  <td><%= form.created_at.strftime("%d-%m-%Y") %></td>
                <%end%>
              </tr>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="d-flex justify-content-center">
          <h3 style="color:white"><%= t("individual_form_index.text").html_safe %></h3>
        </div>
      <% end %>
    </div>
  </div>
<%= render("shared/footer") %>
