<%= render "shared/navbar"%>
  <div class="group-forms">
    <% if current_user.role == "admin" %>
      <div class="index-links-containers">
        <div class="link-container">
          <a href="/individual_forms"><%= t('table.th') %></a>
        </div>
        <div class="link-container">
          <a href="/duo"><%= t('table.th2') %></a>
        </div>
        <div class="link-container">
          <a href="/trios"><%= t('table.th3') %></a>
        </div>
        <div class="link-container">
          <a href="/group_forms"><%= t('table.th4') %></a>
        </div>
      </div>
      <h1 style="text-align:center"><%= t('table.th4') %></h1>
    <% else %>
      <h1 style="text-align:center"><%= t('group_form_index.title_f') %><%= current_user.name.capitalize %> <%= current_user.last_name.capitalize %><%= t('group_form_index.title_en') %></h1>
    <% end %>
    <% if current_user.role == "competitor" && current_user.group_forms.present? %>
      <table class="table-form mx-auto">
        <thead>
          <tr style="width:50px">
            <th><%= t('index_trio.th.attributes') %></th>
            <% current_user.group_forms.each_with_index do |group, index| %>
              <th><%= t('index_groups.th.group_form') %> <%= index + 1 %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= t('index_groups.td.name_of_group') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.name %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.responsable') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.responsable %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.group_address') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.address %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.phone') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.phone %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.email') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.email %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.discipline') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.discipline %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.level') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.level %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.music') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.title_of_music %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.composer') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.composer %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.length_of_piece') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.length_of_piece %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.participants_n') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.participants.count %></td>
            <% end %>
          </tr>
          <tr>
            <td><b><%= t('index_groups.td.participant_name_lastName') %></b></td>
            <% current_user.group_forms.each do |group| %>
              <% group.participants.each do |participant| %>
                <td>
                  <% if participant.photo.attached? %>
                    <%= cl_image_tag participant.photo.key, height: 30, width: 20 %> <%= participant.name %> <%= participant.last_name %>
                  <% else %>
                    <%= participant.name %> <%= participant.last_name %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.participant_age') %></td>
            <% current_user.group_forms.each do |group| %>
              <% group.participants.each do |participant| %>
                <td>
                  <%= participant.birth_date %><br>
                  <%= calculate_age(participant.birth_date) %>
                </td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    <% elsif current_user.role == "admin" %>
      <table class="table-form mx-auto">
        <thead>
          <tr>
            <th><%= t('index_group.th.attributes') %></th>
            <% @group_forms.each_with_index do |form, index| %>
              <th><%= t('index_groups.th.group_form') %> <%= index + 1 %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= t('index_groups.td.name_of_group') %></td>
            <% @group_forms.each do |form| %>
              <td><%= form.name %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.responsable') %></td>
            <% @group_forms.each do |form| %>
              <td><%= form.responsable %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.address') %></td>
            <% @group_forms.each do |form| %>
              <td><%= form.address %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.phone') %></td>
            <% @group_forms.each do |form| %>
              <td><%= form.phone %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.email') %></td>
            <% @group_forms.each do |form| %>
              <td><%= form.email %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.discipline') %></td>
            <% @group_forms.each do |form| %>
              <td><%= form.discipline %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.leve') %></td>
            <% @group_forms.each do |form| %>
              <td><%= form.level %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.length_of_piece') %></td>
            <% @group_forms.each do |form| %>
              <td><%= form.length_of_piece %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.composer') %></td>
            <% @group_forms.each do |form| %>
              <td><%= form.composer %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.title_of_music') %></td>
            <% @group_forms.each do |form| %>
              <td><%= form.title_of_music %></td>
            <% end %>
          </tr>
          <tr>
            <td><b><%= t('index_groups.td.participant_name_lastName') %></b></td>
            <% @group_forms.each do |group_form| %>
              <% group_form.participants.each do |participant| %>
                <td>
                  <% if participant.photo.attached? %>
                    <%= cl_image_tag participant.photo.key, height: 30, width: 20 %> <%= participant.name %> <%= participant.last_name %>
                  <% else %>
                    <p>Le candidat n'a pas de photo</p>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.participant_age') %></td>
            <% @group_forms.each do |group_form| %>
              <% group_form.participants.each do |participant| %>
                <td>
                  <%= participant.birth_date %><br>
                  <%= calculate_age(participant.birth_date) %>
                </td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.file') %></td>
              <% @group_forms.each do |group_form| %>
                <% group_form.participants.each do |participant| %>
                  <td>
                    <% if participant.file.attached? %>
                      <% key = participant.file.key %>
                      <% key %>
                      <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } %>
                      <% if matching_file != nil %>
                        <% newkey =  matching_file["asset_id"] %>
                        <%= link_to "Download", "https://res-console.cloudinary.com/dsyp2wb4w/media_explorer_thumbnails/#{newkey}/download" %>
                        <% else %>
                        <p>Aucun fichier correspondant trouvé.</p>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.file1') %></td>
            <% @group_forms.each do |group_form| %>
              <% group_form.participants.each do |participant| %>
                <td>
                  <% if participant.id_card.attached? %>
                    <% key = participant.id_card.key %>
                    <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } %>
                    <% if matching_file != nil %>
                      <% newkey =  matching_file["asset_id"] %>
                      <%= link_to "Download", "https://res-console.cloudinary.com/dsyp2wb4w/media_explorer_thumbnails/#{newkey}/download" %>
                      <% else %>
                      <p>Aucun fichier correspondant trouvé.</p>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    <% else %>
      <div class="d-flex justify-content-center">
        <h3 style="color:white"><%= t("group_form_index.text").html_safe %></h3>
      </div>
    <% end %>
  </div>
<%= @group_forms.empty? ? render("shared/footer_fixed") : render("shared/footer") %>
