<%= render "shared/navbar"%>
  <div class="group-forms">
    <h1 style="text-align:center"><%= current_user.name.capitalize %> <%= current_user.last_name.capitalize %>'s Group Forms</h1>
    <% if current_user.role == "competitor" && current_user.group_forms.present? %>
      <table class="table-form mx-auto">
        <thead>
          <tr style="width:50px">
            <th><%= t('index_groups.th.attributes') %></th>
            <% current_user.group_forms.each_with_index do |group, index| %>
              <th><%= t('index_groups.th.group_form') %> <%= index + 1 %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= t('index_groups.td.name_of_group') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.name %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.responsable') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.responsable %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.group_address') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.address %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.phone') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.phone %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.email') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.email %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.discipline') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.discipline %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.level') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.level %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.music') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.title_of_music %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.composer') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.composer %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.length_of_piece') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.length_of_piece %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.participants_n') %></td>
            <% current_user.group_forms.each do |group| %>
              <td><%= group.participants.count %></td>
            <% end %>
          </tr>
          <tr>
            <td><b><%= t('index_groups.td.participant_name_lastName') %></b></td>
            <% current_user.group_forms.each do |group| %>
              <% group.participants.each do |participant| %>
                <td>
                  <% if participant.photo.attached? %>
                    <%= cl_image_tag participant.photo.key, height: 30, width: 20 %> <%= participant.name %> <%= participant.last_name %>
                  <% else %>
                    <%= participant.name %> <%= participant.last_name %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.participant_age') %></td>
            <% current_user.group_forms.each do |group| %>
              <% group.participants.each do |participant| %>
                <td>
                  Birthday: <%= participant.birth_date %><br>
                  <%= calculate_age(participant.birth_date) %> years old
                </td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    <% elsif current_user.role == "admin" %>
      <table class="table-form mx-auto">
        <thead>
          <tr>
            <th>Attribute</th>
            <% @group_forms.each_with_index do |form, index| %>
              <th>Group Form <%= index + 1 %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>User Id</td>
            <% @group_forms.each do |form| %>
              <td><%= form.user_id %></td>
            <% end %>
          </tr>
          <tr>
            <td>First Name</td>
            <% @group_forms.each do |form| %>
              <td><%= form.first_name %></td>
            <% end %>
          </tr>
          <tr>
            <td>Last Name</td>
            <% @group_forms.each do |form| %>
              <td><%= form.last_name %></td>
            <% end %>
          </tr>
          <tr>
            <td>Birth Date</td>
            <% @group_forms.each do |form| %>
              <td><%= form.birth_date %></td>
            <% end %>
          </tr>
          <tr>
            <td>Address</td>
            <% @group_forms.each do |form| %>
              <td><%= form.address %></td>
            <% end %>
          </tr>
          <tr>
            <td>Phone</td>
            <% @group_forms.each do |form| %>
              <td><%= form.phone %></td>
            <% end %>
          </tr>
          <tr>
            <td>Email</td>
            <% @group_forms.each do |form| %>
              <td><%= form.email %></td>
            <% end %>
          </tr>
          <tr>
            <td>Teacher Name</td>
            <% @group_forms.each do |form| %>
              <td><%= form.teacher_name %></td>
            <% end %>
          </tr>
          <tr>
            <td>Dance School</td>
            <% @group_forms.each do |form| %>
              <td><%= form.dance_school %></td>
            <% end %>
          </tr>
          <tr>
            <td>Teacher Phone</td>
            <% @group_forms.each do |form| %>
              <td><%= form.teacher_phone %></td>
            <% end %>
          </tr>
          <tr>
            <td>Teacher Email</td>
            <% @group_forms.each do |form| %>
              <td><%= form.teacher_email %></td>
            <% end %>
          </tr>
          <tr>
            <td>Category</td>
            <% @group_forms.each do |form| %>
              <td><%= form.category %></td>
            <% end %>
          </tr>
          <tr>
            <td>Style</td>
            <% @group_forms.each do |form| %>
              <td><%= form.style %></td>
            <% end %>
          </tr>
          <tr>
            <td>Level</td>
            <% @group_forms.each do |form| %>
              <td><%= form.level %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    <% else %>
      <div class="d-flex justify-content-center">
        <h3 style="color:white"><%= t("group_form_index.text").html_safe %></h3>
      </div>
    <% end %>
  </div>
<%= current_user.group_forms.empty? ? render("shared/footer_fixed") : render("shared/footer") %>
