<div class="main-container">
  <div class=" container registration-form">
    <div class="registration-form-inner text-center">
      <%= link_to image_tag("eng.png", style:"width:20px;margin-left:100px", class:"text-center"), url_for(locale: 'en') %> | <%= link_to image_tag("fr.png", style:"width:20px;margin-right:100px", class:"text-center"), url_for(locale: 'fr') %>
      <%= t('group_registration_form.registration_form_inner_text.h1').html_safe %>
      <%= t('group_registration_form.registration_form_inner_text.h2').html_safe %>
      <%= t('group_registration_form.registration_form_inner_text.h3').html_safe %>
      <div class="container">
        <%= form_with(
                        model: @group_form,
                        url: group_forms_path,
                        local: true,
                        method: :post,
                        data: { controller: "flatpickr participants age" }
                      ) do |f| %>
          <div class="d-flex justify-content-around mt-5">
            <div class="field">
              <%# <%= f.label :name %>
              <%= f.text_field :name, placeholder: t('group_registration_form.registration_form_inner_text.group.placeholders.name'), class: "input-form" %>
            </div>
            <div>
              <%# <%= form.label :responsable %>
              <%= f.text_field :responsable, placeholder: t('group_registration_form.registration_form_inner_text.group.placeholders.responsable'), class: "input-form" %>
            </div>
            <div>
              <%# <%= f.label :address %>
              <%= f.text_field :address, placeholder: t('group_registration_form.registration_form_inner_text.group.placeholders.address'), class: "input-form" %>
            </div>
            <div>
              <%# <%= f.label :phone %>
              <%= f.text_field :phone, placeholder: t('group_registration_form.registration_form_inner_text.group.placeholders.phone'), class: "input-form" %>
            </div>
            <div>
              <%# <%= f.label :email %>
              <%= f.text_field :email, placeholder: t('group_registration_form.registration_form_inner_text.group.placeholders.email'), class: "input-form" %>
            </div>
          </div>
          <div class="d-flex justify-content-around ">
            <div>
              <%# <%= f.label :title_of_piece %>
              <%= f.text_field :title_of_music, placeholder: t('group_registration_form.registration_form_inner_text.group.placeholders.title_of_music'), class: "input-form" %>
            </div>
            <div>
              <%= f.text_field :composer, placeholder: t('group_registration_form.registration_form_inner_text.group.placeholders.composer'), class: "input-form" %>
            </div>
            <div>
              <%# <%= f.label :length_of_piece, "Length of Piece in minutes", class: "label" %>
              <%= f.number_field :length_of_piece, placeholder: t('group_registration_form.registration_form_inner_text.group.placeholders.length_of_piece'), class: "input-form", step: 1, min: 0 %>
            </div>
          </div>
          <div class="d-flex justify-content-around">
            <div id="style">
              <%# <%= f.label :discipline %>
              <%= f.select :discipline, options_for_select(['Classique', 'Modern’Jazz', 'Contemporain', 'Caractère']), prompt: t('group_registration_form.registration_form_inner_text.group.prompts.disciplines'), class: "input-session" %>
            </div>
            <div id="level">
              <%# <%= f.label :level %>
              <%= f.select :level ,options_for_select(['Préparatoire', 'Elémentaire', 'Moyen', 'Supérieur', 'Formation']), prompt: t('group_registration_form.registration_form_inner_text.group.prompts.level'), class: "input-session", id:"category"%>
            </div>
          </div>

          <div data-controller="participant">
            <div class="d-flex">
              <h3 style="text-align:left"><%= t('group_registration_form.registration_form_inner_text.group.participant.participants') %></h3>
              <span style="color:gray; font-size:15px;padding-top:8px; margin-left:8px">(<%= t('group_registration_form.registration_form_inner_text.group.participant.add_participants') %>)</span>
            </div>
            <div id="participants">
              <%= f.fields_for :participants do |p| %>
                <div class="participant-fields mb-3 pb-3" style="border-bottom:1px solid red">
                  <div class="d-flex justify-content-around">
                    <div>
                      <%= p.text_field :name, placeholder: t('group_registration_form.registration_form_inner_text.group.participant.placeholders.name'), class: "input-form-group" %>
                    </div>
                    <div>
                      <%= p.text_field :last_name, placeholder: t('group_registration_form.registration_form_inner_text.group.participant.placeholders.last_name'), class: "input-form-group" %>
                    </div>
                    <div>
                      <%= p.date_field :birth_date, placeholder: t('group_registration_form.registration_form_inner_text.group.participant.placeholders.birthday'), id:"myID", class: "input-form-group" %>
                    </div>
                    <div data-controller="age">
                      <%= p.number_field :age, placeholder: t('group_registration_form.registration_form_inner_text.group.participant.placeholders.age'), class: "input-form-group", id:"age-input", readonly: true %>
                    </div>
                  </div>
                  <div class="d-flex justify-content-around">
                    <div class="custom-file-input">
                      <%= p.file_field :photo, as: :file, id: "photo-input", class: "file-input" %>
                      <label for="photo-input" id="photo-label" class="file-label"><%= t('group_registration_form.registration_form_inner_text.group.participant.input_text.pic') %></label>
                      <span id="photo-name"><%=t('group_registration_form.registration_form_inner_text.group.participant.span.no_file')%></span>
                    </div>
                    <div class="custom-file-input">
                      <%= f.file_field :file, as: :file, id:"file-input", class:"file-input" %>
                      <label for="file-input" id="file-label" class="file-label"><%= t('individual_registration_form.registration_form_inner_text.individual.input_text.file') %></label>
                      <span id="file-name"><%= t('individual_registration_form.registration_form_inner_text.individual.span.no_file') %></span>
                    </div>
                    <div class="custom-file-input">
                      <%= f.file_field :id_card, as: :file, id:"id-input", class:"file-input" %>
                      <label for="id-input" id="id-label" class="file-label"><%= t('individual_registration_form.registration_form_inner_text.individual.input_text.file1') %></label>
                      <span id="id-name"><%= t('individual_registration_form.registration_form_inner_text.individual.span.no_file') %></span>
                    </div>
                    <div style="padding-top:13px">
                      <button type="button" class="remove-participant btn btn-danger"><%= t('group_registration_form.registration_form_inner_text.group.participant.btn.remove') %></button>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <!-- Hidden template for participant fields -->
          <template id="participant-template">
            <div class="participant-fields mb-3 pb-3" data-controller="age" style="border-bottom:1px solid red">
              <div class="d-flex justify-content-around">
                <div>
                  <input type="text" name="group_form[participants_attributes][NEW_RECORD][name]" placeholder="<%=t('group_registration_form.registration_form_inner_text.group.participant.placeholders.name')%>" class="input-form-group">
                </div>
                <div>
                  <input type="text" name="group_form[participants_attributes][NEW_RECORD][last_name]" placeholder="<%=t('group_registration_form.registration_form_inner_text.group.participant.placeholders.last_name')%>" class="input-form-group">
                </div>
                <div>
                  <input type="date" name="group_form[participants_attributes][NEW_RECORD][birth_date]" placeholder="<%=t('group_registration_form.registration_form_inner_text.group.participant.placeholders.birthday')%>" class="input-form-group" id="myID">
                </div>
                <div>
                  <input type="number" name="group_form[participants_attributes][NEW_RECORD][age]" placeholder="<%=t('group_registration_form.registration_form_inner_text.group.participant.placeholders.age')%>" class="input-form-group" id="age-input" readonly>
                </div>
              </div>
              <div class="d-flex justify-content-around">
                <div class="custom-file-input">
                  <input type="file" name="group_form[participants_attributes][NEW_RECORD][photo]" id="photo-inputNEW_RECORD" class="file-input">
                  <label for="photo-inputNEW_RECORD" id="photo-labelNEW_RECORD" class="file-label"><%= t('group_registration_form.registration_form_inner_text.group.participant.input_text.pic') %></label>
                  <span id="photo-nameNEW_RECORD"><%=t('group_registration_form.registration_form_inner_text.group.participant.span.no_file')%></span>
                </div>
                <div class="custom-file-input">
                  <input type="file" name="group_form[participants_attributes][NEW_RECORD][file]" id="file-inputNEW_RECORD" class="file-input">
                  <label for="file-inputNEW_RECORD" id="file-labelNEW_RECORD" class="file-label"><%= t('group_registration_form.registration_form_inner_text.group.participant.input_text.file') %></label>
                  <span id="file-nameNEW_RECORD"><%=t('group_registration_form.registration_form_inner_text.group.participant.span.no_file')%></span>
                </div>
                <div class="custom-file-input">
                  <input type="file" name="group_form[participants_attributes][NEW_RECORD][id_card]" id="id-inputNEW_RECORD" class="file-input">
                  <label for="id-inputNEW_RECORD" id="id-labelNEW_RECORD" class="file-label"><%= t('group_registration_form.registration_form_inner_text.group.participant.input_text.file') %></label>
                  <span id="id-nameNEW_RECORD"><%=t('group_registration_form.registration_form_inner_text.group.participant.span.no_file')%></span>
                </div>
                <div style="padding-top:13px">
                  <button type="button" class="remove-participant btn btn-danger"><%= t('group_registration_form.registration_form_inner_text.group.participant.btn.remove') %></button>
                </div>
              </div>
            </div>
          </template>
          <button type="button" id="add-participant" class="btn btn-secondary"><%= t('group_registration_form.registration_form_inner_text.group.participant.btn.add') %></button>
          <div  style="width:200px">
            <%= f.submit "#{t('group_registration_form.registration_form_inner_text.group.participant.btn.create')}", class: "input-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
