<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= t('navbar.content.link10').html_safe %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= t('navbar.content.link1').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar.content.link2').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar.content.link3').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar.content.link4').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar.content.link5').html_safe %>
          </li>
          <li class="nav-item dropdown z-index-100" style="margin-right:50px;margin-left:10px">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "logoLightGray.png", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user.role == "admin" %>
                <%= link_to "/admin", class:"dropdown-item" %>
              <% else %>
                <%= t('navbar.content.link9').html_safe %>
                <%= t('navbar_home.content.link6').html_safe %>
                <%= t('navbar_home.content.link7').html_safe %>
                <%= t('navbar_home.content.link8').html_safe %>
                <%= t('navbar_home.content.link8-5').html_safe %>
                <%= t('navbar_home.content.link9').html_safe %>
              <% end %>
              <% if I18n.locale == :en %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <% elsif I18n.locale == :fr %>
                <%= link_to "Se Déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= t('navbar.content.link11').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar.content.link12').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar.content.link13').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar.content.link14').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar.content.link15').html_safe %>
          </li>
          <li class="nav-item">
            <% if I18n.locale == :en %>
              <%= link_to "Login", new_user_session_path, class: "nav-link", id:'login' %>
            <% elsif I18n.locale == :fr %>
              <%= link_to "Se Connecter", new_user_session_path, class: "nav-link", id:'login' %>
            <% end %>
          </li>
          <li class="nav-item z-index-100">
            <% if I18n.locale == :en %>
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link", id:'signup' %>
            <% elsif I18n.locale == :fr %>
              <%= link_to "S'inscrire", new_user_registration_path, class: "nav-link", id:'signup' %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div class="lang-icons z-index-0">
        <%= link_to image_tag("eng.png", style:"width:20px;margin-left:100px"), url_for(locale: 'en') %> | <%= link_to image_tag("fr.png", style:"width:20px;margin-right:100px"), url_for(locale: 'fr') %>
      </div>
    </div>
  </div>
</div>
