<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= t('navbar_home.content.link10').html_safe %>

    <div class="icon-container-navbar">
      <div class="icon" id="facebook">
        <a href="https://www.facebook.com/profile.php?id=100086523453811" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25px" height="25px" class="facebook">    <path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h7.621v-6.961h-2.343v-2.725h2.343V9.309 c0-2.324,1.421-3.591,3.495-3.591c0.699-0.002,1.397,0.034,2.092,0.105v2.43h-1.428c-1.13,0-1.35,0.534-1.35,1.322v1.735h2.7 l-0.351,2.725h-2.365V21H19c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z"/></svg>
        </a>
      </div>
      <div class="icon" id="instagram">
        <a href="https://www.instagram.com/concours_entrelace/" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="25px" height="25px" class="instagram"><path d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"/></svg>
        </a>
      </div>
      <div class="icon">
      <a href="https://www.youtube.com/@concoursEntrelace" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="25px" width="25px" version="1.1" id="Layer_1" viewBox="0 0 461.001 461.001" xml:space="preserve"><g><path class="youtube" d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728   c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137   C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607   c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"/></g></svg>
      </a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= t('navbar_home.content.link1').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar_home.content.link2').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar_home.content.link3').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar_home.content.link4').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar_home.content.link5').html_safe %>
          </li>
          <li class="nav-item dropdown z-index-100" style="margin-right:50px;margin-left:10px">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "logoLightGray.png", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user.role == "admin" %>
                <%= link_to "Inscriptions", admin_path, class:"dropdown-item" %>
                <%= t('navbar_home.content.link16').html_safe %>
                <%= t('navbar_home.content.link17').html_safe %>
                <%= t('navbar_home.content.link18-5').html_safe %>
                <%= t('navbar_home.content.link19').html_safe %>
                <%= t('navbar_home.content.link20').html_safe %>
              <% else %>
                <%= t('navbar.content.link9').html_safe %>
                <%= t('navbar_home.content.link7').html_safe %>
                <%= t('navbar_home.content.link8').html_safe %>
                <%= t('navbar_home.content.link8-5').html_safe %>
                <%= t('navbar_home.content.link9').html_safe %>
              <% end %>
              <% if I18n.locale == :en %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <% elsif I18n.locale == :fr %>
                <%= link_to "Se Déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= t('navbar_home.content.link11').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar_home.content.link12').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar_home.content.link13').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar_home.content.link14').html_safe %>
          </li>
          <li class="nav-item">
            <%= t('navbar_home.content.link15').html_safe %>
          </li>
          <li class="nav-item">
            <% if I18n.locale == :en %>
              <%= link_to "Login", new_user_session_path, class: "nav-link", id:'login' %>
            <% elsif I18n.locale == :fr %>
              <%= link_to "Se Connecter", new_user_session_path, class: "nav-link", id:'login' %>
            <% end %>
          </li>
          <li class="nav-item z-index-100">
            <% if I18n.locale == :en %>
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link", id:'signup' %>
            <% elsif I18n.locale == :fr %>
              <%= link_to "S'inscrire", new_user_registration_path, class: "nav-link", id:'signup' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div id="main" style="margin-left: 0px;">
      <svg xmlns="http://www.w3.org/2000/svg" id="b032a4a6-eb1b-4c0e-b99c-d687dcadd10e" data-name="Layer 1" width="41.3999" height="23.6001" viewBox="0 0 41.3999 23.6001" onclick="openNav()">
        <rect width="41.3999" height="2"></rect><rect x="21.6001" y="10.8003" width="19.7998" height="2"></rect>
        <rect x="32.3999" y="21.6001" width="9" height="2"></rect>
      </svg>
    </div>

    <div id="mySidenav" class="sidenav">
        <div class="content">
          <div class="head">
            <div class="lang-icons-sidenav">
              <%= link_to image_tag("eng.png", style:"width:25px; margin-right:15px"), url_for(locale: 'en') %> | <%= link_to image_tag("fr.png", style:"width:25px; margin-left:15px"), url_for(locale: 'fr') %>
            </div>
          </div>
          <%= t("phone_view.slideshow").html_safe %>
          <img src="/assets/DANB-91fa79baa5a37e7b2c49e164d96b5f8de59f1ad144ffef81d5d9d2de2df9917f.png" class="denAlm">
          <img src="/assets/dividerGray-573e96d15615aa95b04fdcad4ef272d99fdfe70874c70405bec659e429c32df4.png" class="divider">
        </div>
    </div>

  </div>
</div>
