<div class="main-container">
  <div class=" container registration-form">
    <div class="registration-form-inner text-center">
      <%= link_to image_tag("eng.png", style:"width:20px;margin-left:100px", class:"text-center"), url_for(locale: 'en') %> | <%= link_to image_tag("fr.png", style:"width:20px;margin-right:100px", class:"text-center"), url_for(locale: 'fr') %>
      <%= t('trio_registration_form.registration_form_inner_text.h1').html_safe %>
      <%= t('trio_registration_form.registration_form_inner_text.h3').html_safe %>
      <div class="container">
        <%= form_with(
                        model: @trio,
                        url: trios_path,
                        local: true,
                        method: :post,
                        data: { controller: "flatpickr trio-participants age" }
                      ) do |f| %>
          <div class="trio-registration-form-first">
            <div class="field">
              <%# <%= f.label :name %>
              <%= f.text_field :name, placeholder: t('trio_registration_form.registration_form_inner_text.trio.placeholders.name'), class: "input-form" %>
            </div>
            <div>
              <%# <%= form.label :responsable %>
              <%= f.text_field :responsable, placeholder: t('trio_registration_form.registration_form_inner_text.trio.placeholders.responsable'), class: "input-form" %>
            </div>
            <div>
              <%# <%= f.label :address %>
              <%= f.text_field :address, placeholder: t('trio_registration_form.registration_form_inner_text.trio.placeholders.address'), class: "input-form" %>
            </div>
            <div>
              <%# <%= f.label :phone %>
              <%= f.text_field :phone, placeholder: t('trio_registration_form.registration_form_inner_text.trio.placeholders.phone'), class: "input-form" %>
            </div>
            <div>
              <%# <%= f.label :email %>
              <%= f.text_field :email, placeholder: t('trio_registration_form.registration_form_inner_text.trio.placeholders.email'), class: "input-form" %>
            </div>
          </div>
          <div class="trio-registration-form-second ">
            <div>
              <%# <%= f.label :title_of_piece %>
              <%= f.text_field :title_of_music, placeholder: t('trio_registration_form.registration_form_inner_text.trio.placeholders.title_of_music'), class: "input-form" %>
            </div>
            <div>
              <%= f.text_field :composer, placeholder: t('trio_registration_form.registration_form_inner_text.trio.placeholders.composer'), class: "input-form" %>
            </div>
            <div>
              <%# <%= f.label :length_of_piece, "Length of Piece in minutes", class: "label" %>
              <%= f.number_field :length_of_piece, placeholder: t('trio_registration_form.registration_form_inner_text.trio.placeholders.length_of_piece'), class: "input-form", step: 0.01, min: 0 %>
            </div>
          </div>
          <div class="trio-registration-form-third">
            <div id="style">
              <%# <%= f.label :discipline %>
              <%= f.select :discipline, options_for_select(['Classique', 'Modern’Jazz', 'Contemporain', 'Caractère']), prompt: t('trio_registration_form.registration_form_inner_text.trio.prompts.disciplines'), class: "input-session" %>
            </div>
            <div id="level">
              <%# <%= f.label :level %>
              <%= f.select :level ,options_for_select(['Préparatoire', 'Elémentaire', 'Moyen', 'Supérieur', 'Pré-Pro']), prompt: t('trio_registration_form.registration_form_inner_text.trio.prompts.level'), class: "input-session", id:"category"%>
            </div>
          </div>

          <div data-controller="participant">
            <div class="d-flex">
              <h3 style="text-align:left"><%= t('trio_registration_form.registration_form_inner_text.trio.participant.participants') %></h3>
            </div>
            <div id="participants">
              <%= f.fields_for :trio_participants do |p| %>
                <div class="participant-fields mb-3 pb-3" style="border-bottom:1px solid red">
                  <div class="trio-registration-form-participant-first">
                    <div>
                      <%= p.text_field :name, placeholder: t('duo_registration_form.registration_form_inner_text.duo.participant.placeholders.name'), class: "input-form-group" %>
                    </div>
                    <div>
                      <%= p.text_field :last_name, placeholder: t('duo_registration_form.registration_form_inner_text.duo.participant.placeholders.last_name'), class: "input-form-group" %>
                    </div>
                    <div>
                      <%= p.date_field :birth_date, placeholder: t('duo_registration_form.registration_form_inner_text.duo.participant.placeholders.birthday'), id:"myID", class: "input-form-group" %>
                    </div>
                    <div data-controller="age">
                      <%= p.number_field :age, placeholder: t('duo_registration_form.registration_form_inner_text.duo.participant.placeholders.age'), class: "input-form-group", id:"age-input", readonly: true %>
                    </div>
                  </div>
                  <div class="trio-registration-form-participant-second">
                    <div class="custom-file-input">
                      <span>Format (pdf)</span><br>
                      <%= p.file_field :file, accept: "application/pdf", id: "file-input", class: "file-input" %>
                      <label for="file-input" id="file-label" class="file-label"><%= t('duo_registration_form.registration_form_inner_text.duo.participant.input_text.file') %></label><br>
                      <span id="file-name"><%=t('duo_registration_form.registration_form_inner_text.duo.participant.span.no_file')%></span>
                    </div>
                    <div class="custom-file-input">
                      <span>Format (pdf)</span><br>
                      <%= p.file_field :id_card, accept: "application/pdf", id: "id-input", class: "file-input" %>
                      <label for="id-input" id="id-label" class="file-label"><%= t('duo_registration_form.registration_form_inner_text.duo.participant.input_text.file1') %></label><br>
                      <span id="id-name"><%=t('duo_registration_form.registration_form_inner_text.duo.participant.span.no_file')%></span>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="participant-fields mb-3 pb-3" data-controller="age" style="border-bottom:1px solid red">
                <div class="trio-registration-form-participant-first">
                  <div>
                    <input type="text" name="trio[trio_participants_attributes][1][name]" placeholder="<%=t('trio_registration_form.registration_form_inner_text.trio.participant.placeholders.name')%>" class="input-form-group">
                  </div>
                  <div>
                    <input type="text" name="trio[trio_participants_attributes][1][last_name]" placeholder="<%=t('trio_registration_form.registration_form_inner_text.trio.participant.placeholders.last_name')%>" class="input-form-group">
                  </div>
                  <div>
                    <input type="date" name="trio[trio_participants_attributes][1][birth_date]" placeholder="<%=t('trio_registration_form.registration_form_inner_text.trio.participant.placeholders.birthday')%>" class="input-form-group" id="myID">
                  </div>
                  <div>
                    <input type="number" name="trio[trio_participants_attributes][1][age]" placeholder="<%=t('trio_registration_form.registration_form_inner_text.trio.participant.placeholders.age')%>" class="input-form-group" id="age-input" readonly>
                  </div>
                </div>
                <div class="trio-registration-form-participant-second">
                  <div class="custom-file-input">
                    <input type="file" name="trio[trio_participants_attributes][1][file]" id="file-input1" class="file-input" accept="application/pdf">
                    <label for="file-input1" id="file-label1" class="file-label"><%= t('trio_registration_form.registration_form_inner_text.trio.participant.input_text.file') %></label><br>
                    <span id="file-name1"><%=t('trio_registration_form.registration_form_inner_text.trio.participant.span.no_file')%></span>
                  </div>
                  <div class="custom-file-input">
                    <input type="file" name="trio[trio_participants_attributes][1][id_card]" id="id-input1" class="file-input" accept="application/pdf">
                    <label for="id-input1" id="id-label1" class="file-label"><%= t('trio_registration_form.registration_form_inner_text.trio.participant.input_text.file1') %></label><br>
                    <span id="id-name1"><%=t('trio_registration_form.registration_form_inner_text.trio.participant.span.no_file')%></span>
                  </div>
                </div>
              </div>
              <div class="participant-fields mb-3 pb-3" data-controller="age" style="border-bottom:1px solid red">
                <div class="trio-registration-form-participant-first">
                  <div>
                    <input type="text" name="trio[trio_participants_attributes][2][name]" placeholder="<%=t('trio_registration_form.registration_form_inner_text.trio.participant.placeholders.name')%>" class="input-form-group">
                  </div>
                  <div>
                    <input type="text" name="trio[trio_participants_attributes][2][last_name]" placeholder="<%=t('trio_registration_form.registration_form_inner_text.trio.participant.placeholders.last_name')%>" class="input-form-group">
                  </div>
                  <div>
                    <input type="date" name="trio[trio_participants_attributes][2][birth_date]" placeholder="<%=t('trio_registration_form.registration_form_inner_text.trio.participant.placeholders.birthday')%>" class="input-form-group" id="myID">
                  </div>
                  <div>
                    <input type="number" name="trio[trio_participants_attributes][2][age]" placeholder="<%=t('trio_registration_form.registration_form_inner_text.trio.participant.placeholders.age')%>" class="input-form-group" id="age-input" readonly>
                  </div>
                </div>
                <div class="trio-registration-form-participant-second">
                  <div class="custom-file-input">
                    <input type="file" name="trio[trio_participants_attributes][2][file]" id="file-input2"class="file-input" accept="application/pdf">
                    <label for="file-input2" id="file-label2" class="file-label"><%= t('trio_registration_form.registration_form_inner_text.trio.participant.input_text.file') %></label><br>
                    <span id="file-name2"><%=t('trio_registration_form.registration_form_inner_text.trio.participant.span.no_file')%></span>
                  </div>
                  <div class="custom-file-input">
                    <input type="file" name="trio[trio_participants_attributes][2][id_card]" id="id-input2"class="file-input" accept="application/pdf">
                    <label for="id-input2" id="id-label2" class="file-label"><%= t('trio_registration_form.registration_form_inner_text.trio.participant.input_text.file1') %></label><br>
                    <span id="id-name2"><%=t('trio_registration_form.registration_form_inner_text.trio.participant.span.no_file')%></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div  style="width:200px; margin:auto">
            <%= f.submit "#{t('trio_registration_form.registration_form_inner_text.trio.participant.btn.create')}", class: "input-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
