<%= render "shared/navbar" %>
<div class="container mt-2 apply-text" id="phoneNoShow">
  <div class="text-center">
    <h2><%= t('apply.sub') %></h2>
  </div>
  <div class="important-information mt-4">
    <h4><%= t('apply.important_information.title') %></h4>
    <p><%= t('apply.important_information.paragraph1') %></p>
    <ul>
      <li><%= t('apply.important_information.list.li1') %></li>
      <li><%= t('apply.important_information.list.li2') %></li>
    </ul>
    <p><%= t('apply.important_information.paragraph2') %></p>
  </div>

  <div class="d-links">
    <div>
      <%= link_to t('apply.important_information.pdf2'), '/pdf/AUTORISATION-DE-PARTICIPATION-CANDIDAT-MINEUR.pdf' %>
    </div>
    <div>
      <%= link_to "REGULATION  Entrelacé 2026", '/pdf/REGULATION  Entrelacé 2026.pdf' %>
    </div>
  </div>
  <div class="d-links">
    <%= link_to t('apply.important_information.pdf1'), '/pdf/AUTORISATION-DE-PARTICIPATION-CANDIDAT-MAJEUR.pdf' %>
    <%= link_to "RÉGLEMENT Entrelacé 2026", '/pdf/REGLEMENT Entrelacé 2026.pdf' %>
  </div>

  <div class="row mt-3">
    <h4 class="text-center"><%= t("apply.candidate") %></h4>
    <div class="col mb-3 m-auto text-center">
      <div class="card m-auto" style="background-color:#deded4; width:250px">
        <%= image_tag "solo-apply.jpg", style:" filter: grayscale(100%); height:300px !important;" %>
        <%= t('apply.cards.individual_registration_form').html_safe %>
      </div>
    </div>

    <div class="col mb-3 m-auto text-center" >
      <div class="card m-auto" style="background-color:#deded4; width:250px">
        <%= image_tag "duo-apply.jpg", style:" filter: grayscale(100%); height:300px !important;" %>
        <%= t('apply.cards.duo').html_safe  %>
      </div>
    </div>

    <div class="col mb-3 m-auto text-center" >
      <div class="card m-auto" style="background-color:#deded4; width:250px">
        <img src="https://tse1.explicit.bing.net/th?id=OIP.5SVDuG3NZXMN7msWC0SJ0AHaJ4&pid=Api" style="height:300px !important; filter: grayscale(100%)" >
        <%= t('apply.cards.trio').html_safe  %>
      </div>
    </div>

    <div class="col mb-3 m-auto text-center">
      <div class="card m-auto" style="background-color:#deded4; width:250px">
        <%= image_tag "group-apply.jpg", style:" filter: grayscale(100%); height:300px !important;" %>
        <%= t('apply.cards.group_registration_form').html_safe %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <h4 class="text-center"><%= t("apply.prof") %></h4>
    <div class="col mb-3 m-auto text-center">
      <div class="card m-auto" style="background-color:#deded4; width:300px">
        <%= image_tag "prof_img.jpg", style:" filter: grayscale(100%)" %>
        <%= t('apply.cards.professor_registration_form').html_safe %>
      </div>
    </div>
  </div>
</div>
<div id="phoneShow">
  <div class="text-apply">
    <h4>
      <% if user_signed_in? %>
        <h1><%= t("hello")  %> <%= current_user.name %>!</h1>
        <%= t("apply.text") %>
        <% else %>
        <%= "" %>
      <% end %>
    </h4>
    <div class="logo-continous logo-w-w-a" style="width:200px"></div>
  </div>
</div>
<%= render "shared/footer" %>
