<%= render "shared/navbar"%>

<div class="portfolio-cont" data-controller="media-tabs" data-media-tabs-default-value="2024">
  <div class="portfolio-t-b" >
    <ul>
      <li data-media-tabs-target="link" data-action="click->media-tabs#open" data-id="2023">2023</li>
      <li data-media-tabs-target="link" data-action="click->media-tabs#open" data-id="2024">2024</li>
      <li data-media-tabs-target="link" data-action="click->media-tabs#open" data-id="2025" class="active">2025</li>
      <li data-media-tabs-target="link" data-action="click->media-tabs#open" data-id="videos" >Videos</li>
    </ul>
  </div>
  <div class="portfolio-cont hidden" data-media-tabs-target="tab" data-media-tabs-type-value="2023" data-id="2023">
    <%# populated area %>
    <% if @images_2023 != nil %>
      <div data-controller="slideshow">
        <div class="slideshow-container">
          <% @images_2023.each_with_index do |image, index| %>
            <div class="mySlides" data-slideshow-target="slide">
              <div class="numbertext"><%= index + 1 %> / <%= @images_2023.size %></div>
              <%= image_tag image["secure_url"], width:'50%', class:'img' %>
              <!--
                <div class="text">Caption Text for image <%= index + 1 %></div>
              -->
            </div>
          <% end %>
        </div>
        <div class="thumbnail-container container">
          <% @images_2023.each_with_index do |image, index| %>
            <div class="thumbnail" data-action="click->slideshow#selectSlide">
              <%= image_tag image["secure_url"], style:"width:30px !important;height:40px", data: { index: index + 1 }, class: 'img' %>
            </div>
          <% end %>
        </div>
        <%# <div style="text-align:center">
          <iframe class="video" src="https://www.youtube.com/embed/LxrUJcbGgBY?si=DzjX32PoZT8fAlRD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
        </div> %>
      </div>
    <% else %>
      <div style="text-align:center">
        <p>Pas des photos pour l'instant</p>
      </div>
    <% end %>
    <div style="text-align:center">
      <iframe class="video" src="https://www.youtube.com/embed/U4OS7-JBLYw?si=D7Uz9UcJwMo7__GF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
  <div class="portfolio-cont hidden " data-media-tabs-target="tab" data-media-tabs-type-value="2024" data-id="2024">
      <%# Populated area %>
      <% if @images_2024 != nil %>
        <div data-controller="slideshow">
          <div class="slideshow-container">
            <% @images_2024.each_with_index do |image, index| %>
              <div class="mySlides" data-slideshow-target="slide">
                <div class="numbertext"><%= index + 1 %> / <%= @images_2024.size %></div>
                <%= image_tag image["secure_url"], width:'50%', class:'img' %>
                <!--
                  <div class="text">Caption Text for image <%= index + 1 %></div>
                -->
              </div>
            <% end %>
          </div>
          <div class="thumbnail-container container">
            <% @images_2024.each_with_index do |image, index| %>
              <div class="thumbnail" data-action="click->slideshow#selectSlide">
                <%= image_tag image["secure_url"], style:"width:30px !important;height:40px", data: { index: index + 1 }, class: 'img' %>
              </div>
            <% end %>
          </div>
          <div style="text-align:center">
            <iframe class="video" src="https://www.youtube.com/embed/LxrUJcbGgBY?si=DzjX32PoZT8fAlRD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
          </div>
        </div>
      <% else %>
        <div style="text-align:center">
          <p>Pas des photos pour l'instant</p>
        </div>
      <% end %>
  </div>
  <div class="portfolio-cont" data-media-tabs-target="tab" data-media-tabs-type-value="2025" data-id="2025">
      <%# Populated area %>
      <% if @images_2025 != nil %>
        <div data-controller="slideshow">
          <div class="slideshow-container">
            <% @images_2025.each_with_index do |image, index| %>
              <div class="mySlides" data-slideshow-target="slide">
                <div class="numbertext"><%= index + 1 %> / <%= @images_2025.size %></div>
                <%= image_tag image["secure_url"], width:'50%', class:'img' %>
                <!--
                  <div class="text">Caption Text for image <%= index + 1 %></div>
                -->
              </div>
            <% end %>
          </div>
          <div class="thumbnail-container container">
            <% @images_2025.each_with_index do |image, index| %>
              <div class="thumbnail" data-action="click->slideshow#selectSlide">
                <%= image_tag image["secure_url"], style:"width:30px !important;height:40px", data: { index: index + 1 }, class: 'img' %>
              </div>
            <% end %>
          </div>
          <div style="text-align:center">
            <%# <iframe class="video" src="https://www.youtube.com/embed/LxrUJcbGgBY?si=DzjX32PoZT8fAlRD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br> %>
          </div>
        </div>
      <% else %>
        <div style="text-align:center">
          <p>Pas des photos pour l'instant</p>
        </div>
      <% end %>
  </div>
  <div class="portfolio-cont hidden" data-media-tabs-target="tab" data-media-tabs-type-value="videos" data-id="videos">
    <div class="text-center">
      <iframe class="video" src="https://www.youtube.com/embed/LxrUJcbGgBY?si=DzjX32PoZT8fAlRD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
      <iframe class="video" src="https://www.youtube.com/embed/U4OS7-JBLYw?si=D7Uz9UcJwMo7__GF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
