<%= render "shared/navbar" %>
  <div class="first-container-news">

    <div class="info d-flex justify-content-around align-items-center container">
      <div class="image-news">
        <%= image_tag "concours26.jpeg", alt: "news image" %>
      </div>
      <div class="text">
        <%= t('news.text_plus_link').html_safe %>
      </div>
    </div>
    <div class="news-weekendWorkshops second-section-news container">
      <div class="image-news mb-5">
        <%= image_tag "divider.png", alt: "divider image" %>
      </div>
      <%= t("news.weekend_workshops").html_safe %>
      <div class="image-wws">
        <%= image_tag "WW-logo-transparent.png", alt:"Weekend Workshops logo" %>
      </div>

    </div>
    <div class="image-news mb-5">
      <%= image_tag "dividerGray.png", alt: "divider image" %>
    </div>
    <!-- Swiper Carousel -->
    <div data-controller="swiper" class="swiper carousel carousel">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide">
          <%= image_tag "WW1.png", alt: "Weekend Workshop 1", loading: "lazy" %>
        </div>
        <div class="swiper-slide slide">
          <%= image_tag "WW2.png", alt: "Weekend Workshop 2", loading: "lazy" %>
        </div>
        <div class="swiper-slide slide">
          <%= image_tag "WW3.png", alt: "Weekend Workshop 3", class: "left", loading: "lazy" %>
        </div>
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
<%= render "shared/footer_fixed" %>
