<%= render "shared/navbar" %>
  <div class="first-container-news">
    <a class="news-link" href="https://www.helloasso.com/associations/entrelace/evenements/inscription-concours-entrelace-2026">
      <%= t("news.a") %>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-click" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <line x1="3" y1="12" x2="6" y2="12"/>
        <line x1="12" y1="3" x2="12" y2="6"/>
        <line x1="7.8" y1="7.8" x2="5.6" y2="5.6"/>
        <line x1="16.2" y1="7.8" x2="18.4" y2="5.6"/>
        <line x1="7.8" y1="16.2" x2="5.6" y2="18.4"/>
        <path d="M12 12l9 3l-4 2l-2 4l-3 -9"/>
      </svg>
    </a>

    <div class="info d-flex justify-content-around align-items-center container">
      <div class="image-news">
        <%= image_tag "concours26.jpeg", alt: "news image" %>
      </div>
      <div class="text">
        <%= t('news.text_plus_link').html_safe %>
      </div>
    </div>
    <div class="news-weekendWorkshops second-section-news container">
      <div class="image-news mb-5">
        <%= image_tag "divider.png", alt: "divider image" %>
      </div>
      <%= t("news.weekend_workshops").html_safe %>
      <div class="image-wws">
        <%= image_tag "WW-logo-transparent.png", alt:"Weekend Workshops logo" %>
      </div>

    </div>
    <div class="image-news mb-5">
      <%= image_tag "dividerGray.png", alt: "divider image" %>
    </div>
    <!-- Swiper Carousel -->
    <div data-controller="swiper" class="swiper carousel carousel">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide">
          <%= image_tag "WW1.png", alt: "Weekend Workshop 1", loading: "lazy" %>
        </div>
        <div class="swiper-slide slide">
          <%= image_tag "WW2.png", alt: "Weekend Workshop 2", loading: "lazy" %>
        </div>
        <div class="swiper-slide slide">
          <%= image_tag "WW3.png", alt: "Weekend Workshop 3", class: "left", loading: "lazy" %>
        </div>
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
<%= render "shared/footer_fixed" %>
