<%= render "shared/navbar"%>
<div class="contact-container container">
  <div class="left-side" style="background-color:lightgray">
    <div class="logo-container">
      <%= image_tag "LogoFullOrange1.png" %>
    </div>
    <div class="theater-info">
      <h5>Espace Albert Camus</h5>
      <p><a href="https://www.google.com/maps/place/1+Rue+Maryse+Bastié,+69500+Bron/@45.7273879,4.917225,17z/data=!3m1!4b1!4m6!3m5!1s0x47f4c17b532fc0d7:0xb394020d98c0e480!8m2!3d45.7273879!4d4.9197999!16s%2Fg%2F11bw40vgnq?entry=ttu">1 rue Maryse Bastié 69500 BRON</a></p>
    </div>
    <div class="car">
      <h6>Car</h6>
      <%= image_tag "Car.png" %>
      <p>Lyon > Grenoble<br>
      A43 ; sortie Chassieu / Eurexpo, puis direction Lyon, sortie Bron Albert Camus n°3</p>
      <p>Grenoble > Lyon<br>
      A43 ; sortie Lyon-Bron, puis sortie Bron Albert Camus n°3</p>
    </div>
    <div class="tramway">
      <h6>Tram</h6>
      <%= image_tag "Tram.png" %>
      <p>T5 Grange Blanche - Eurexpo / Arrêt Les Alizés</p>
      <p>T2 Perrache - Saint Priest / Arrêt Rebufer</p>
    </div>
    <div class="bus">
      <h6>Bus</h6>
      <%= image_tag "Bus.png" %>
      <p>Ligne C15 / Arrêt Rebufer</p>
      <p>Ligne 26 / Arrêt Colonel Chambonnet</p>
    </div>
  </div>
  <div class="right-side">

  </div>
</div>
