<%= render "shared/navbar"%>
<div class="section-regulation container"  id="regulation">
  <div class="content-regulation">
    <%= link_to t("back.back"), :back, style: "color:black; margin:140px;text-decoration:none;" %>
    <%= t("regulation.container.title").html_safe %>
    <%= t("regulation.container.div1").html_safe %>
    <%= t("regulation.container.div2").html_safe %>
    <%= t("regulation.container.div3").html_safe %>
    <%= t("regulation.container.div4").html_safe %>
    <%= t("regulation.container.div5").html_safe %>
    <%= t("regulation.container.div6").html_safe %>
    <%= t("regulation.container.div7").html_safe %>
    <%= t("regulation.container.div8").html_safe %>
    <%= t("regulation.container.div9").html_safe %>
    <%= t("regulation.container.div10").html_safe %>
    <%= t("regulation.container.div11").html_safe %>
    <%= t("regulation.container.div12").html_safe %>
    <%= t("regulation.container.div13").html_safe %>
  </div>
  </div>
</div>
<%= render "shared/footer" %>
