<h1>Users and Their Individual Forms</h1>

<% @users.each do |user| %>
  <div class="user">
    <h2><%= user.name %> <%= user.last_name %></h2>

    <% user.individual_forms.each do |form| %>
      <div class="form">
        <p><strong>Form Name:</strong> <%= form.first_name %> <%= form.last_name %></p>
        <p><strong>Form File:</strong> <%= link_to "Download", form.file.url if form.file.attached? %></p>
        <p><strong>Form ID Card:</strong> <%= link_to "Download", form.id_card.url if form.id_card.attached? %></p>

        <% if form.photo.attached? %>
          <p><strong>Photo:</strong></p>
          <%= image_tag form.photo, alt: "Form Photo", width: 100 %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
