<% @forms.each do |form| %>
  <div class="form-details">
    <h3><%= form[:type] %> - <%= form[:name] || 'No Name' %></h3>

    <div class="form-meta">
      <p><strong>Created At:</strong> <%= form[:created_at] %></p>
      <p><strong>Updated At:</strong> <%= form[:updated_at] %></p>
    </div>

    <% if form[:type] == "Individual" %>
      <div class="individual-info">
        <p><strong>First Name:</strong> <%= form[:name] %></p>
        <p><strong>Last Name:</strong> <%= form[:last_name] %></p>
        <p><strong>Birth Date:</strong> <%= form[:birth_date] %></p>
        <p><strong>Address:</strong> <%= form[:address] %></p>
        <p><strong>Phone:</strong> <%= form[:phone] %></p>
        <p><strong>Email:</strong> <%= form[:email] %></p>
        <p><strong>Teacher Name:</strong> <%= form[:teacher_name] %></p>
        <p><strong>Dance School:</strong> <%= form[:dance_school] %></p>
        <p><strong>Category:</strong> <%= form[:category] %></p>
        <p><strong>Style:</strong> <%= form[:style] %></p>
        <p><strong>Level:</strong> <%= form[:level] %></p>

        <!-- Correcting the file key check -->
        <% if form[:photo] %>
        <% key = form[:photo] %>
          <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                  <% if matching_file != nil %>
                    <% url =  matching_file["url"] %>
                    <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                    <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="150px"></a></td>
                    <% else %>
                    <%=form[:photo]%>
                    <td><p><%=t('show.no_file')%></p></td>
                  <% end %>
        <% end %>
        <% if form[:file] %>
          <%key = form[:file]%>
          <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                  <% if matching_file != nil %>
                    <% url =  matching_file["url"] %>
                    <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                    <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="150px"></a></td>
                    <% else %>
                    <%=form[:file]%>
                    <td><p><%=t('show.no_file')%></p></td>
                  <% end %>
        <% end %>
        <% if form[:id_card] %>
          <%key = form[:id_card]%>
          <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                  <% if matching_file != nil %>
                    <% url =  matching_file["url"] %>
                    <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                    <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="150px"></a></td>
                    <% else %>
                    <%=form[:id_card]%>
                    <td><p><%=t('show.no_file')%></p></td>
                  <% end %>
        <% end %>
      </div>
    <% elsif form[:type].in?(["DuoForm", "TrioForm", "GroupForm"]) %>
      <div class="group-info">
        <p><strong>Responsable:</strong> <%= form[:responsable] %></p>
        <p><strong>Address:</strong> <%= form[:address] %></p>
        <p><strong>Phone:</strong> <%= form[:phone] %></p>
        <p><strong>Email:</strong> <%= form[:email] %></p>
        <p><strong>Discipline:</strong> <%= form[:discipline] %></p>
        <p><strong>Level:</strong> <%= form[:level] %></p>
        <p><strong>Title of Music:</strong> <%= form[:title_of_music] %></p>
        <p><strong>Composer:</strong> <%= form[:composer] %></p>
        <p><strong>Length of Piece:</strong> <%= form[:length_of_piece] %></p>

        <h4>Participants</h4>
        <% form[:participants].each do |p| %>
          <div class="participant-info">
            <p><strong>First Name:</strong> <%= p[:name] %></p>
            <p><strong>Last Name:</strong> <%= p[:last_name] %></p>
            <p><strong>Birth Date:</strong> <%= p[:birth_date] %></p>
            <p><strong>Age:</strong> <%= p[:age] %></p>

            <!-- Correcting the file key check for participants -->
            <% if p[:photo] %>
              <% key = p[:photo] %>
                  <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                  <% if matching_file != nil %>
                    <% url =  matching_file["url"] %>
                    <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                    <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="50px"></a></td>
                    <% else %>
                    <%=p[:photo]%>
                    <td><p><%=t('show.no_file')%></p></td>
                  <% end %>
            <% end %>
            <% if p[:file] %>
            <% key = p[:file] %>
              <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                  <% if matching_file != nil %>
                    <% url =  matching_file["url"] %>
                    <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                    <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="50px"></a></td>
                    <% else %>
                    <%=p[:file]%>
                    <td><p><%=t('show.no_file')%></p></td>
                  <% end %>
            <% end %>
            <% if p[:id_card] %>
            <% key = p[:id_card] %>
              <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                  <% if matching_file != nil %>
                    <% url =  matching_file["url"] %>
                    <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                    <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="50px"></a></td>
                    <% else %>
                    <%=p[:id_card]%>
                    <td><p><%=t('show.no_file')%></p></td>
                  <% end %>
            <% end %>
          </div>
        <% end %>

        <% form[:duo_participants].each do |p| %>
          <div class="participant-info">
            <p><strong>First Name:</strong> <%= p[:name] %></p>
            <p><strong>Last Name:</strong> <%= p[:last_name] %></p>
            <p><strong>Birth Date:</strong> <%= p[:birth_date] %></p>
            <p><strong>Age:</strong> <%= p[:age] %></p>

            <!-- Correcting the file key check for participants -->
            <% if p[:photo] %>
              <% key = p[:photo] %>
                  <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                  <% if matching_file != nil %>
                    <% url =  matching_file["url"] %>
                    <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                    <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="50px"></a></td>
                    <% else %>
                    <%=p[:photo]%>
                    <td><p><%=t('show.no_file')%></p></td>
                  <% end %>
            <% end %>
            <% if p[:file] %>
            <% key = p[:file] %>
              <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                  <% if matching_file != nil %>
                    <% url =  matching_file["url"] %>
                    <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                    <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="50px"></a></td>
                    <% else %>
                    <%=p[:file]%>
                    <td><p><%=t('show.no_file')%></p></td>
                  <% end %>
            <% end %>
            <% if p[:id_card] %>
            <% key = p[:id_card] %>
              <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                  <% if matching_file != nil %>
                    <% url =  matching_file["url"] %>
                    <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                    <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="50px"></a></td>
                    <% else %>
                    <%=p[:id_card]%>
                    <td><p><%=t('show.no_file')%></p></td>
                  <% end %>
            <% end %>
          </div>
        <% end %>

        <% form[:trio_participants].each do |p| %>
          <div class="participant-info">
            <p><strong>First Name:</strong> <%= p[:name] %></p>
            <p><strong>Last Name:</strong> <%= p[:last_name] %></p>
            <p><strong>Birth Date:</strong> <%= p[:birth_date] %></p>
            <p><strong>Age:</strong> <%= p[:age] %></p>

            <!-- Correcting the file key check for participants -->
            <% if p[:photo] %>
              <% key = p[:photo] %>
                  <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                  <% if matching_file != nil %>
                    <% url =  matching_file["url"] %>
                    <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                    <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="50px"></a></td>
                    <% else %>
                    <%=p[:photo]%>
                    <td><p><%=t('show.no_file')%></p></td>
                  <% end %>
            <% end %>
            <% if p[:file] %>
            <% key = p[:file] %>
              <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                  <% if matching_file != nil %>
                    <% url =  matching_file["url"] %>
                    <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                    <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="50px"></a></td>
                    <% else %>
                    <%=p[:file]%>
                    <td><p><%=t('show.no_file')%></p></td>
                  <% end %>
            <% end %>
            <% if p[:id_card] %>
            <% key = p[:id_card] %>
              <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                  <% if matching_file != nil %>
                    <% url =  matching_file["url"] %>
                    <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                    <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="50px"></a></td>
                    <% else %>
                    <%=p[:id_card]%>
                    <td><p><%=t('show.no_file')%></p></td>
                  <% end %>
            <% end %>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
  <hr>
<% end %>
