<%= render "shared/navbar" %>
<div class="container pt-5">
  <h2><%= t("devise_session.sessions.new.text1") %></h2>
  <p><%= t("devise_session.sessions.new.text") %></p>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: "input-session" } %>
      <%= f.input :password,
                  required: false,
                  label: t("devise_session.registration.new.text4"),
                  input_html: { autocomplete: "current-password", class: "input-session" } %>
      <%= f.input :remember_me, label: t("devise_session.sessions.new.text2"), as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t("devise_session.sessions.new.text1"), class:"input-btn" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
<%= render "shared/footer" %>
