<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Nouvelle inscription reçue</h1>
    <p>Bonjour,</p>
    <p>Une nouvelle inscription a été effectuée :</p>
    <ul>
      <li><strong>Type :</strong> <%= @subscription.type %></li>
      <li><strong>Utilisateur•trice:</strong> <%= @subscription.user.name %> <%= @subscription.user.last_name %></li>
      <li><strong>Email Utilisateur•trice:</strong> <%= @subscription.user.email %> </li>
    </ul>
    <p>Pour plus de détails, connectez-vous au panneau d'administration.</p>
    <a href="<%= @url %>" style="background-color: #eb4301; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 4px;">Je Regarde</a>
    <p>Bonne journée,</p>
  </body>
</html>
