<%= render "shared/navbar"%>
  <div class="trio-forms">
    <% if current_user.role == "admin" %>
      <div class="index-links-containers">
        <div class="link-container">
          <a href="/individual_forms">Formulaires Individuelle</a>
        </div>
        <div class="link-container">
          <a href="/duo">Formulaires de Duo</a>
        </div>
        <div class="link-container">
          <a href="/trios">Formulaires de Trio</a>
        </div>
        <div class="link-container">
          <a href="/group_forms">Formulaires de Group</a>
        </div>
      </div>
      <h1 style="text-align:center">Formulaires des Trios</h1>
    <% else %>
      <h1 style="text-align:center"><%= t('trio_form_index.title_f') %><%= current_user.name.capitalize %> <%= current_user.last_name.capitalize %><%= t('trio_form_index.title_en') %></h1>
    <% end %>
    <% if current_user.role == "competitor" && current_user.trios.present? %>
      <table class="table-form mx-auto">
        <thead>
          <tr style="width:50px">
            <th><%= t('index_groups.th.attributes') %></th>
            <% current_user.trios.each_with_index do |trio, index| %>
              <th><%= t('index_groups.th.group_form') %> <%= index + 1 %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= t('index_groups.td.name_of_group') %></td>
            <% current_user.trios.each do |trio| %>
              <td><%= trio.name %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.responsable') %></td>
            <% current_user.trios.each do |trio| %>
              <td><%= trio.responsable %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.group_address') %></td>
            <% current_user.trios.each do |trio| %>
              <td><%= trio.address %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.phone') %></td>
            <% current_user.trios.each do |trio| %>
              <td><%= trio.phone %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.email') %></td>
            <% current_user.trios.each do |trio| %>
              <td><%= trio.email %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.discipline') %></td>
            <% current_user.trios.each do |trio| %>
              <td><%= trio.discipline %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.level') %></td>
            <% current_user.trios.each do |trio| %>
              <td><%= trio.level %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.music') %></td>
            <% current_user.trios.each do |trio| %>
              <td><%= trio.title_of_music %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.composer') %></td>
            <% current_user.trios.each do |trio| %>
              <td><%= trio.composer %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.length_of_piece') %></td>
            <% current_user.trios.each do |trio| %>
              <td><%= trio.length_of_piece %></td>
            <% end %>
          </tr>
          <tr>
            <td><b><%= t('index_groups.td.participant_name_lastName') %></b></td>
            <% current_user.trios.each do |trio| %>
              <% trio.trio_participants.each do |participant| %>
                <td>
                  <% if participant.photo.attached? %>
                    <%= cl_image_tag participant.photo.key, height: 30, width: 20 %> <%= participant.name %> <%= participant.last_name %>
                  <% else %>
                    <%= participant.name %> <%= participant.last_name %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.participant_age') %></td>
            <% current_user.trios.each do |trio| %>
              <% trio.trio_participants.each do |participant| %>
                <td>
                  Birthday: <%= participant.birth_date %><br>
                  <%= calculate_age(participant.birth_date) %> years old
                </td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    <% elsif current_user.role == "admin" && @trios.present?%>
      <table class="table-form mx-auto">
        <thead>
          <tr style="width:50px">
            <th><%= t('index_trio.th.attributes') %></th>
            <% @trios.each_with_index do |trio, index| %>
              <th><%= t('index_trio.th.group_form') %> <%= index + 1 %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= t('index_trio.td.name_of_trio') %></td>
            <% @trios.each do |trio| %>
              <td><%= trio.name %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_trio.td.responsable') %></td>
            <% @trios.each do |trio| %>
              <td><%= trio.responsable %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_trio.td.trio_address') %></td>
            <% @trios.each do |trio| %>
              <td><%= trio.address %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_trio.td.phone') %></td>
            <% @trios.each do |trio| %>
              <td><%= trio.phone %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_trio.td.email') %></td>
            <% @trios.each do |trio| %>
              <td><%= trio.email %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_trio.td.discipline') %></td>
            <% @trios.each do |trio| %>
              <td><%= trio.discipline %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_trio.td.level') %></td>
            <% @trios.each do |trio| %>
              <td><%= trio.level %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_trio.td.music') %></td>
            <% @trios.each do |trio| %>
              <td><%= trio.title_of_music %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_trio.td.composer') %></td>
            <% @trios.each do |trio| %>
              <td><%= trio.composer %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_trio.td.length_of_piece') %></td>
            <% @trios.each do |trio| %>
              <td><%= trio.length_of_piece %></td>
            <% end %>
          </tr>
          <tr>
            <td><b><%= t('index_trio.td.participant_name_lastName') %></b></td>
            <% @trios.each do |trio| %>
              <% trio.trio_participants.each do |participant| %>
                <td>
                  <% if participant.photo.attached? %>
                    <%= cl_image_tag participant.photo.key, height: 30, width: 20 %> <%= participant.name %> <%= participant.last_name %>
                  <% else %>
                    <p>Participant has no picture attached</p>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <td><%= t('index_groups.td.participant_age') %></td>
            <% @trios.each do |trio| %>
              <% trio.trio_participants.each do |participant| %>
                <td>
                  Birthday: <%= participant.birth_date %><br>
                  <%= calculate_age(participant.birth_date) %>
                </td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <td>Authorization for Participation</td>
              <% @trios.each do |trio| %>
                <% trio.trio_participants.each do |participant| %>
                  <td>
                    <% if participant.file.attached? %>
                      <% key = participant.file.key %>
                      <% key %>
                      <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } %>
                      <% if matching_file != nil %>
                        <% newkey =  matching_file["asset_id"] %>
                        <%= link_to "Download", "https://res-console.cloudinary.com/dsyp2wb4w/media_explorer_thumbnails/#{newkey}/download" %>
                        <% else %>
                        <p>No file found</p>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
          </tr>
          <tr>
            <td>ID</td>
            <% @trios.each do |trio| %>
              <% trio.trio_participants.each do |participant| %>
                <td>
                  <% if participant.id_card.attached? %>
                    <% key = participant.id_card.key %>
                    <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } %>
                    <% if matching_file != nil %>
                      <% newkey =  matching_file["asset_id"] %>
                      <%= link_to "Download", "https://res-console.cloudinary.com/dsyp2wb4w/media_explorer_thumbnails/#{newkey}/download" %>
                      <% else %>
                      <p>No matching file found</p>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    <% else %>
      <div class="d-flex justify-content-center">
        <h3 style="color:white"><%= t("trio_form_index.text").html_safe %></h3>
      </div>
    <% end %>
  </div>
<%= @trios.empty? ? render("shared/footer_fixed") : render("shared/footer") %>
