<%= render "shared/navbar"%>
  <div class="trio-forms">
    <% if current_user.role == "admin" %>
      <h1 style="text-align:center"><%= t('table.th3') %></h1>
      <div class="index-links-containers">
        <div class="link-container">
          <a href="/individual_forms"><%= t('table.th') %></a>
        </div>
        <div class="link-container">
          <a href="/duo"><%= t('table.th2') %></a>
        </div>
        <div class="link-container">
          <a href="/trios"><%= t('table.th3') %></a>
        </div>
        <div class="link-container">
          <a href="/group_forms"><%= t('table.th4') %></a>
        </div>
      </div>
    <% else %>
      <div class="index-links-containers">
        <div class="link-container">
          <a href="/individual_forms"><%= t('table.th') %></a>
        </div>
        <div class="link-container">
          <a href="/duo"><%= t('table.th2') %></a>
        </div>
        <div class="link-container">
          <a href="/trios"><%= t('table.th3') %></a>
        </div>
        <div class="link-container">
          <a href="/group_forms"><%= t('table.th4') %></a>
        </div>
      </div>
      <h1 style="text-align:center"><%= t('trio_form_index.title_f') %><%= current_user.name.capitalize %> <%= current_user.last_name.capitalize %><%= t('trio_form_index.title_en') %></h1>
    <% end %>
    <% if current_user.role == "competitor" && current_user.trios.present? %>
      <% current_user.trios.each_with_index do |trio, index| %>
        <table class="table-form mx-auto">
          <thead>
            <tr style="width:50px">
              <th><%= t('index_trio.th.attributes') %></th>
              <th><%= t('index_trio.th.trio_form') %> <%= index + 1 %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= t('index_trio.td.name_of_trio') %></td>
              <td><%= trio.name %></td>
            </tr>
            <tr>
              <td><%= t('index_trio.td.responsable') %></td>
              <td><%= trio.responsable %></td>
            </tr>
            <tr>
              <td><%= t('index_trio.td.trio_address') %></td>
              <td><%= trio.address %></td>
            </tr>
            <tr>
              <td><%= t('index_trio.td.phone') %></td>
              <td><%= trio.phone %></td>
            </tr>
            <tr>
              <td><%= t('index_trio.td.email') %></td>
              <td><%= trio.email %></td>
            </tr>
            <tr>
              <td><%= t('index_trio.td.discipline') %></td>
              <td><%= trio.discipline %></td>
            </tr>
            <tr>
              <td><%= t('index_trio.td.level') %></td>
              <td><%= trio.level %></td>
            </tr>
            <tr>
              <td><%= t('index_trio.td.music') %></td>
              <td><%= trio.title_of_music %></td>
            </tr>
            <tr>
              <td><%= t('index_trio.td.composer') %></td>
              <td><%= trio.composer %></td>
            </tr>
            <tr>
              <td><%= t('index_trio.td.length_of_piece') %></td>
              <td><%= trio.length_of_piece %></td>
            </tr>
            <tr>
                <th><b><%= t('index_trio.td.participant_name_lastName') %></b></th>
                <% trio.trio_participants.each_with_index do |participant, index| %>
                  <th><%= t('index_trio.td.participant_name_lastName') %> <%= index + 1 %></th>
                <% end %>
              </tr>
            <tr>
              <td><b><%= t('index_trio.td.participant_name_lastName') %></b></td>
              <% trio.trio_participants.each do |participant| %>
                <td>
                  <p style="text-align:center"><%= participant.name %> <%= participant.last_name %></p>
                </td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_trio.td.participant_age') %></td>
              <% trio.trio_participants.each do |participant| %>
                <td>
                  <p style="text-align:center"><%= participant.birth_date %></p>
                  <p style="text-align:center"><%= calculate_age(participant.birth_date) %> years old</p>
                </td>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_trio.td.participant_file') %></td>
              <% trio.trio_participants.each do |participant| %>
                  <% if participant.file.attached? %>
                    <% key = participant.file.key %>
                    <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                    <% if matching_file != nil %>
                      <% url =  matching_file["url"] %>
                      <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                      <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="50px"></a></td>
                      <% else %>
                      <td><p>Aucun fichier correspondant trouvé.</p></td>
                    <% end %>
                  <% end %>
              <% end %>
            </tr>
            <tr>
              <td><%= t('index_trio.td.participant_file1') %></td>
              <% trio.trio_participants.each do |participant| %>
                  <% if participant.id_card.attached? %>
                    <% key = participant.id_card.key %>
                    <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                    <% if matching_file != nil %>
                      <% url =  matching_file["url"] %>
                      <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                      <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="50px"></a></td>
                      <% else %>
                      <td><p>Aucun fichier correspondant trouvé.</p></td>
                    <% end %>
                  <% end %>
              <% end %>
            </tr>
              <td><%= t('edit.form') %></td>
              <td colspan=<%=trio.trio_participants.length%> style="text-align:center"><%= link_to t('edit.see'), trio_path(trio), class:"modify" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% elsif current_user.role == "admin" && @trios.present?%>
      <div class="filter">
        <%= form_with url: trios_path, method: :get, local: true do |form| %>
          <div>
            <%# Playing with the grid in bootstrap %>
            <div class="row">
              <div class="col-sm" style="margin-top:20px">
                <h4>Filtrer par Niveau</h4>
                <%# 'Préparatoire', 'Elémentaire', 'Moyen', 'Supérieur', 'Formation'%>
                <div style="display:grid; grid-template-columns: auto auto; justify-content: space-evenly">
                  <div style="text-align: left; padding-right:15px">
                    <div>
                      <%= form.check_box :level, { multiple: true }, "Préparatoire", nil %> Préparatoire
                    </div>
                    <div>
                      <%= form.check_box :level, { multiple: true }, "Elémentaire", nil %> Elémentaire
                    </div>
                  </div>
                  <div style="text-align: left; padding-right:15px">
                    <div>
                      <%= form.check_box :level, { multiple: true }, "Moyen", nil %> Moyen
                    </div>
                                        <div>
                      <%= form.check_box :level, { multiple: true }, "Supérieur", nil %> Supérieur
                    </div>
                    <div>
                      <%= form.check_box :level, { multiple: true }, "Pré-Pro", nil %> Pré-Pro
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm" style="margin-top:20px">
                <h4>Filtrer par Style</h4>
                <div style="display: flex; justify-content: center">
                  <div style="margin-right: 30px;">
                    <%= form.check_box :discipline, { multiple: true }, "Classique", nil %> Classique
                  </div>
                  <div style="margin-right: 30px;">
                    <%= form.check_box :discipline, { multiple: true }, "Modern’Jazz", nil %> Modern’Jazz
                  </div>
                  <div style="margin-right: 30px;">
                    <%= form.check_box :discipline, { multiple: true }, "Contemporain", nil %> Contemporain
                  </div>
                  <div>
                    <%= form.check_box :discipline, { multiple: true }, "Caractère", nil %> Caractère
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Date Filters -->
              <div class="col-sm" style="margin-top:20px">
                <h4>Filtrer par Date</h4>
                  <div>
                    <label for="start_date">À partir de:</label>
                    <%= form.date_field :start_date, value: params[:start_date] %>
                  </div>
              </div>
            </div>

          </div>
          <div>
            <%= form.submit "Filtrer" %>
          </div>
        <% end %>
      </div>
      <div class="table-con">
        <% @trios.each_with_index do |trio, index| %>
          <table class="table-form mx-auto" id="table<%=index + 1%>">
            <thead>
              <tr>
                <th><%= t('index_trio.th.attributes') %></th>
                <th><%= t('index_trio.th.trio_form') %> <%= index + 1 %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= t('index_trio.td.name_of_trio') %></td>
                <td><%= trio.name %></td>
              </tr>
              <tr>
                <td><%= t('index_trio.td.responsable') %></td>
                <td><%= trio.responsable %></td>
              </tr>
              <tr>
                <td><%= t('index_trio.td.trio_address') %></td>
                <td><%= trio.address %></td>
              </tr>
              <tr>
                <td><%= t('index_trio.td.phone') %></td>
                <td><%= trio.phone %></td>
              </tr>
              <tr>
                <td><%= t('index_trio.td.email') %></td>
                <td><%= trio.email %></td>
              </tr>
              <tr>
                <td><%= t('index_trio.td.discipline') %></td>
                <td><%= trio.discipline %></td>
              </tr>
              <tr>
                <td><%= t('index_trio.td.level') %></td>
                <td><%= trio.level %></td>
              </tr>
              <tr>
                <td><%= t('index_trio.td.music') %></td>
                <td><%= trio.title_of_music %></td>
              </tr>
              <tr>
                <td><%= t('index_trio.td.composer') %></td>
                <td><%= trio.composer %></td>
              </tr>
              <tr>
                <td><%= t('index_trio.td.length_of_piece') %></td>
                <td><%= trio.length_of_piece %></td>
              </tr>
              <tr>
                <td><%= t("index_individuals.td.created_at") %></td>
                <td><%= trio.created_at.strftime("%d-%m-%Y") %></td>
              </tr>
              <tr>
                <th><b><%= t('index_trio.td.participant_name_lastName') %></b></th>
                <% trio.trio_participants.each_with_index do |participant, index| %>
                  <th><%= t('index_trio.td.participant_name_lastName') %> <%= index + 1 %></th>
                <% end %>
              </tr>
              <tr>
                <td><b><%= t('index_trio.td.participant_name_lastName') %></b></td>
                <% trio.trio_participants.each do |participant| %>
                  <td>
                    <p style="text-align:center"><%= participant.name %> <%= participant.last_name %></p>
                  </td>
                <% end %>
              </tr>
              <tr>
                <td><%= t('index_trio.td.participant_age') %></td>
                <% trio.trio_participants.each do |participant| %>
                  <td>
                    <p style="text-align:center"><%= participant.birth_date %></p>
                    <p style="text-align:center"><%= calculate_age(participant.birth_date) %> years old</p>
                  </td>
                <% end %>
              </tr>
              <tr>
                <td><%= t('index_trio.td.participant_file') %></td>
                <% trio.trio_participants.each do |participant| %>
                    <% if participant.file.attached? %>
                      <% key = participant.file.key %>
                      <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                      <% if matching_file != nil %>
                        <% url =  matching_file["url"] %>
                        <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                        <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="50px"></a></td>
                        <% else %>
                        <td><p>Aucun fichier correspondant trouvé.</p></td>
                      <% end %>
                    <% end %>
                <% end %>
              </tr>
              <tr>
                <td><%= t('index_trio.td.participant_file1') %></td>
                <% trio.trio_participants.each do |participant| %>
                    <% if participant.id_card.attached? %>
                      <% key = participant.id_card.key %>
                      <% matching_file = @results_prod.find { |hash| hash["public_id"] == "production/#{key}" } || @results_prod_1.find { |hash| hash["public_id"] == "production/#{key}" } || @results_dev.find { |hash| hash["public_id"] == "development/#{key}" } %>
                      <% if matching_file != nil %>
                        <% url =  matching_file["url"] %>
                        <% updated_url = url.sub(/\.pdf\z/, '.png') %>
                        <td style="text-align:center"><a href="<%=updated_url%>" target="_blank"><img src="<%=updated_url%>" alt="" width="50px"></a></td>
                        <% else %>
                        <td><p>Aucun fichier correspondant trouvé.</p></td>
                      <% end %>
                    <% end %>
                <% end %>
              </tr>
              </tr>
                <td><%= t('edit.form') %></td>
                <td colspan=<%=trio.trio_participants.length%> style="text-align:center"><%= link_to t('edit.see'), trio_path(trio), class:"modify" %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div>
    <% else %>
      <div class="d-flex justify-content-center">
        <h3 style="color:white"><%= t("trio_form_index.text").html_safe %></h3>
      </div>
    <% end %>
  </div>
<%= @trios.empty? ? render("shared/footer_fixed") : render("shared/footer") %>
