<p><%= t("devise_session.mailer.hello") %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t("devise_session.mailer.sorry") %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t("devise_session.mailer.sorry") %> <%= @resource.email %>.</p>
<% end %>
