<p><%= t("devise_session.mailer.hello") %> <%= @resource.email %>!</p>

<p><%= t("devise_session.reset_password.text1") %></p>

<p><%= link_to t("devise_session.reset_password.text2"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("devise_session.reset_password.text3") %></p>
<p><%= t("devise_session.reset_password.text4") %></p>
