<p><%= t("devise_session.mailer.hello") %> <%= @resource.email %>!</p>

<p><%= t("devise_session.unlock.text1") %></p>

<p><%= t("devide_session.unlock.text2") %></p>

<p><%= link_to t("devise_session.unlock.text3"), unlock_url(@resource, unlock_token: @token) %></p>
