<!DOCTYPE html>
<html>
  <head>
    <title>Concours Entrelace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


    <!--Flatpickr-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!--Google Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!--Favicon-->
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="icon" href="/logonav.png" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="/logonav.png">
    <link rel="icon" href="/logonav.png?version=1.0" sizes="32x32" type="image/x-icon">

    <meta name="turbo-visit-control" content="reload">

    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/920586024b.js"></script>

    <!--Google Maps-->
    <%# <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script> %>
    <script>
      function initMap() {
        let camus = {lat: 45.7277, lng: 4.92016};
        let map = new google.maps.Map(
          document.getElementById('map'), {
          zoom: 16,
          center: camus
        });
        let marker = new google.maps.Marker({
          position: camus,
          map: map
        });
      }
    </script>


    <style>
      body {
        /* position: relative; */
        color: white;

        /* background-color: black; */
      }

      input {
        color: black !important;
      }

      textarea {
        color: black !important;

      }
    </style>
  </head>

  <body>
    <div data-controller="welcome-popup">
      <div data-welcome-popup-target="popup" class="popup" style="display: none;">
        <div class="popup-content">
          <div class="popup-img"></div>
          <button id="close-popup" data-action="click->welcome-popup#dismissPopup">x</button>
        </div>
      </div>
    </div>

    <%# <div data-controller="no-sub-popup">
      <div id="popup-end-sub" class="popup-end-sub" style="display: none;">
        <div class="popup-content">
          <div class="popup-img"></div>
          <button id="close-popup" data-action="click->no-sub-popup#dismissPopup">x</button>
        </div>
      </div>
    </div> %>

    <%= render "shared/flashes" %>

    <%= render "shared/expandable_div_left" unless  current_page?(new_user_session_path) ||
                                                    current_page?(new_user_password_path) ||
                                                    current_page?(new_user_registration_path) %>

    <%= render "shared/expandable_div_right" unless current_page?(new_user_session_path) ||
                                                    current_page?(new_user_password_path) ||
                                                    current_page?(new_user_registration_path) ||
                                                    current_page?(new_individual_form_path) ||
                                                    current_page?(new_group_form_path) %>
    <%= yield %>

    <div id="backToTop" title="Back to the top" data-controller="back-to-top">
      <a href="#top" class="material-symbols-outlined">
        arrow_upward
      </a>
    </div>
    <script>
      function openNav() {
        var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        if (screenWidth < 576) {
          document.getElementById("mySidenav").style.width = "100%";
        } else if (screenWidth < 768){
          document.getElementById("mySidenav").style.width = "100%";
        } else {
          document.getElementById("mySidenav").style.width = "100%";
        }
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
      }
    </script>
    <script loading=async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap" ></script>
  </body>
</html>
